# HEBO
HEBO==0.3.2
pymoo==0.5.0

# Optuna
optuna==3.1.0

# Benchmark requirements
h5py
pyarrow
PyQt5
jahs-bench==1.0.2

# TPE
scipy==1.9.3
numpy==1.21.6
parzen-estimator>=0.5.7

# BORE (we compromised the XGBoost version for JAHS-Bench)
xgboost==1.5.2
scikit-learn==1.0.2

# Utilities
black
flake8
ipython
ujson
matplotlib
pandas
pycodestyle
