# SMAC and TurBO
smac==1.4.0
botorch==0.6.5
gpytorch==1.7.0

# Benchmark requirements
h5py==3.7.0
pyarrow==10.0.0
PyQt5==5.15.4

# TPE
scipy==1.9.3
numpy==1.21.6
parzen-estimator==0.5.6

# Utilities
black==23.1.0
flake8==5.0.4
ipython==8.6.0
ujson
matplotlib==3.7.0
pandas==1.3.5
pycodestyle==2.9.1
