# SMAC
smac==2.0

# Benchmark requirements
h5py
PyQt5
# jahs-bench==1.1.0 <-- not compatible with SMAC

# TPE
scipy==1.9.3
numpy>=1.21.0
parzen-estimator>=0.5.7

# Utilities
black
flake8
ipython
ujson
matplotlib
pandas
pycodestyle
