# BOHB
hpbandster==0.7.4

# DEHB
dehb==0.0.5

# NEPS
neural-pipeline-search==0.8.3

# Benchmark requirements
h5py
pyarrow
PyQt5
jahs-bench==1.1.0
yahpo-gym==1.0.1

# TPE
scipy==1.9.3
numpy>=1.21.0
parzen-estimator>=0.5.7

# Utilities
black
flake8
ipython
ujson
matplotlib
pandas
pycodestyle
